/*
 * Author : Alex Yeji Park, Laura Martinez
 * Date : 
 * 
 */


body {
    font-size: 12px;
}

footer {
    text-align: center;
}

.swiper-container {
    width: 600px;
    height: 300px;
} 

img {
    width: 500px;
    height: 300px;
}

.button-wrap {
    margin-left: 5px;
    margin-right:5px;
}